[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hakowan"
authors = [{name = "Qingnan Zhou", email = "qnzhou@gmail.com"}, {name = "Zhicheng Liu", email = "leozcliu@umd.edu"}]
license = {file = "LICENSE"}
readme = "README.md"
classifiers = ["License :: OSI Approved :: Apache Software License"]
dynamic = ["description", "version"]
dependencies=[
    "lagrange-open>=6.39",
    "numpy>=1.22",
    "Pillow~=11.0"
    ]
requires-python = ">=3.10"

[project.optional-dependencies]
mitsuba = ["mitsuba~=3.7"]
blender = ["bpy>=5.0"]
all = ["mitsuba", "blender"]


[mypy]
plugins = "numpy.typing.mypy_plugin"
follow_imports = "skip"
