[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hakowan"
authors = [{name = "Qingnan Zhou", email = "qnzhou@gmail.com"}, {name = "Zhicheng Liu", email = "leozcliu@umd.edu"}]
license = {file = "LICENSE"}
readme = "README.md"
classifiers = ["License :: OSI Approved :: Apache Software License"]
dynamic = ["description", "version"]
dependencies=[
    "lagrange-open>=6.40",
    "numpy>=1.22",
    "Pillow~=11.0",
    "PyYAML>=6.0",
    "mitsuba~=3.7",
    "bpy>=5.0.1,<6; python_version == '3.11'",
]
requires-python = ">=3.10"

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["osx-arm64"]

[tool.pixi.pypi-dependencies]
hakowan = { path = ".", editable = true }

[tool.pixi.environments]
default = { solve-group = "default" }

[tool.pixi.dependencies]
python = "==3.11"
dicttoxml = ">=1.7.16,<2"
